<header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>


     

      <div class="button-group">
        <a href="https://github.com/NikitaMozgovoy" class="btn btn-secondary btn-github"><span class="icon"></span>Аккаунт GitHub</a>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          1 Курс
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            {% for post in site.posts %}
                {% if post.course == 1 %}
                <li>
                    <a class="dropdown-item" href="{{ post.url | relative_url}}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          2 Курс
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {% for post in site.posts %}
                {% if post.course == 2 %}
                <li>
                    <a class="dropdown-item" href="{{ post.url | relative_url}}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
          3 Курс
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
            {% for post in site.posts %}
                {% if post.course == 3 %}
                <li>
                    <a class="dropdown-item" href="{{ post.url | relative_url}}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
          4 Курс
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton4">
            {% for post in site.posts %}
                {% if post.course == 4 %}
                <li>
                    <a class="dropdown-item" href="{{ post.url | relative_url}}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Проекты
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            {% for post in site.posts %}
                {% if post.course == 0 %}
                <li>
                    <a class="dropdown-item" href="{{ post.url | relative_url}}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>

    </div>
  </header>